<ul class="nav justify-content-center">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/about">About</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/projects">Projects</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/weather">Weather</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/database">Database</a></li>
</ul>